{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h2>Set new password</h2>
                {% if validlink %}
                <form method="post">
                    {% load crispy_forms_tags %}
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn btn-primary" type="submit">Set password</button>
                </form>
                {% else %}
                <p style="color: red;">Invalid token.</p>
                <a class="btn btn-link" href="{% url 'password_reset' %}">Request new password reset token</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
