{% extends "base.html" %} 
{% block content %}
{% include 'header.html' %}
<div id="posts" class="row m-auto">

    {% include 'paginate.html' %}

        {% for post in post_list %}
        <div class="card mb-5">
            <div class="card-body">
            <h1><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h1>
            <p class="card-text mb-5 text-muted">{{ post.author }} | {{ post.created_on }}</p>
            <p class="card-text mb-5 text-muted">{{ post.content|slice:":200" }}</p>
            <p class="card-text mb-5">
                <a href="{% url 'post_detail' post.slug %}">Continue Reading >></a>
            </p>
            </div>
        </div>
        {% endfor %}
    {% include 'paginate.html' %}

</div>
{%endblock%}