{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}
{% include 'back_link.html' %}
<div id="article" class="card mx-auto p-4 p-md-0">
    <div class="card-body p-0 p-md-5">
    <div class="card-head row">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p>{{ post.author }} | {{ post.created_on }}</p>
        <span></span>
    </div>
    {{ object.content | safe }}
    </div>
    {% include 'back_link.html' %}
    {% include 'share.html' %}
</div>
{% endblock content %}
