{% if posts.has_other_pages %}
<div class="row paginate">
    <div>
        {% if posts.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo; Prev</a>
        {% else %}
            <a class="disabled">&laquo; Prev</a>
        {% endif %}

        <em>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</em>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Next &raquo;</a>
        {% else %}
            <a class="disabled">Next &raquo;</a>
        {% endif %}
    </div>
</div>
{% endif %}
